body {
    background-color: #1b2838;
}

.navbar, .btn-dark {
    background-color: #171a21;
}

.container{
    color: white;
}

div.row img {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

.row p {
    color: white;
}
