<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <!-- Static content -->
    <link rel="stylesheet" href="../static/css/index-style.css">
    <script type="text/javascript" src="../static/js/app.js"></script>

    <title>STEAM LFG</title>
</head>
<body>
<div tiles:fragment="loginpanel">
    <a th:href="@{/}" th:text="${'HOME'}"></a>
    <div th:if="${loginbutton == 'visible'}">
        <a type="submit" th:href="@{/login}">LOG IN</a>
    </div>
    <div th:unless="${loginbutton == 'visible'}">
        <img th:src="${avatar}">
        <a th:href="@{${steamprofile}}" th:text="${username}"></a>
        <a th:href="@{/logout}" th:text="${'LOG OUT'}"></a>
    </div>
</div>

</body>
</html>