<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Static content -->
    <link rel="stylesheet" th:href="@{/css/index-style.css}">
    <link rel="stylesheet" th:href="@{/css/login-style.css}">

    <title>STEAM LFG</title>
</head>

<body style="background-color: #1b2838;">

<!--/*@thymesVar id="avatar" type=""*/-->
<!--/*@thymesVar id="steamprofile" type=""*/-->
<!--/*@thymesVar id="username" type=""*/-->
<!--/*@thymesVar id="loginbutton" type=""*/-->
<!--/*@thymesVar id="users" type=""*/-->

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #171a21;">
    <div class="container">

        <a class="navbar-brand mb-0 h1" th:href="@{/}">Steam LFG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/news}">News</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/online-users}">Online Users</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
            </ul>
        </div>

    </div>
</nav>

<h2  class="text-center text-light mt-4 pb-5" th:text="${loginmsg}"></h2>

<div tiles:fragment="content">
    <div th:if="${steambutton == 'visible'}">
        <form name="form" th:action="@{/login/openid}" method="post" id="post-form">
            <div id="openid_input_area">
                <input id="openid_identifier" name="openid_identifier" type="hidden"
                       value="http://steamcommunity.com/openid"/>
                <input class="row justify-content-center" id="openid_submit" type="image"
                       src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png"
                       alt="Sign in with Steam"/>
            </div>
        </form>
    </div>
</div>

<!--My scripts-->
<script>
    const rootURL = window.location.href.substring(0, window.location.href.length - 1);
    const pageURL = rootURL + "/api/announcement/page/";
    const gamesSearchURL = rootURL + "/api/game/search";

</script>

<!--Bootstrap js-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>

</html>