<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <!-- Static content -->
    <link rel="stylesheet" href="../static/css/index-style.css">
    <script type="text/javascript" src="../static/js/app.js"></script>

    <title>STEAM LFG</title>
</head>
<body>
<h1>STEAM LFG</h1>
<hr>
<div tiles:fragment="content">
    <form name="form" th:action="@{/login/openid}" method="post" id="openid_form">

        <div id="openid_input_area">
            <input id="openid_identifier" name="openid_identifier" type="hidden"
                   value="http://steamcommunity.com/openid"/>
            <input id="openid_submit" type="image"
                   src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png"
                   alt="Sign in with Steam"/>
        </div>
    </form>
    <form action="postAnnouncement" method="post" onsubmit="return validate()">
        <table>
            <tr>
                <td>Enter Your name</td>
                <td><input id="name" name="name"></td>
            </tr>
            <tr>
                <td>Enter your announcement description</td>
                <td><input id="description" name="description"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>